<div class="container content-center">
    <div class="row justify-content-center">
        <div class="col">
            <%= "Customer Id" %> 
        </div>
        <div class="col">
            <%= "Name:" %> 
        </div>
        <div class="col">
            <%= "Details" %> 
        </div>
        <div class="col">
            <%= "Transactions" %> 
        </div>
    </div>
    <br>
    
    <% @users.each do |user|%>
        <div class="row justify-content-center">
            <div class="col">
                <%= user.id%> 
            </div>
            <div class="col">
                <%= "#{user.first_name.capitalize} #{user.last_name.capitalize}"%> 
            </div>
            <div class="col">
                <%= link_to ("User Details"), details_path( id: "#{user.id}"),class:"btn btn-outline-success"%>  
                
            </div>
            <div class="col">
                <%= link_to ("Transaction History"), transactions_path( id: "#{user.id}"),class:"btn btn-outline-success"%>  
            </div>
        </div>
    <%end %>
</div>