<br>
<div class="container content-center">
    <%= form_with url: "deposit/#{@account.id}", method: :patch do |f| %>
        <div class="form-group">
            <%= f.label :amount ,"Enter amount money"%>
            <%= f.number_field :amount %>
        </div>
        
    

        <%= f.submit "Deposit", class:"btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
    
    <br>
   <%= link_to ("Back"), accounts_path, class:"btn btn-outline-success my-2 my-sm-0"%> 
</div>